        @font-face {
            font-family: 'alliance_no.2regular';
            src: url('allianceno2_-_regular.woff2') format('woff2'), url('allianceno2_-_regular.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        
        @font-face {
            font-family: 'alliance_no.2semibold';
            src: url('allianceno2_-_semibold.woff2') format('woff2'), url('allianceno2_-_semibold.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        
        .site-nav {
            .site-nav__link {
                color: var(--color-all-menu-text);
                text-transform: uppercase;
                position: relative;
                &:after {
                    content: "";
                    background: none repeat scroll 0 0 transparent;
                    bottom: 0;
                    display: block;
                    height: 2px;
                    left: 50%;
                    position: absolute;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                    transform: translateX(-50%);
                }
                &:focus,
                &:not([disabled]):hover {
                    &:after {
                        width: calc(100% - 20px);
                        background: var(--color-all-menu-text);
                    }
                }
            }
        }
        
        .site-header {
            .site-header__mobile-nav {
                .list--inline {
                    .social-icons__item {
                        padding: 0 15px 0 0;
                    }
                    .social-icons__item:last-child {
                        padding: 0;
                    }
                }
            }
            .site-header__icons-wrapper {
                a {
                    color: var(--color-all-menu-text);
                    padding-top: 0;
                    padding-bottom: 0;
                    svg {
                        background-color: var(--color-all-menu-text);
                        fill: var(--color-text);
                    }
                }
                .site-header__cart {
                    display: -webkit-box;
                    display: -moz-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-align-items: center;
                    align-items: center;
                }
                .site-header__account {
                    width: 35px;
                    height: 35px;
                    background: var(--color-home-menu-text);
                    border-radius: 100%;
                    svg {
                        position: absolute;
                        margin: 0;
                        padding: 0;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 13px;
                        height: 13px;
                    }
                }
            }
        }
        
        .template-index {
            [data-section-type="header-section"] {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 9;
                .site-header__logo-image.site-header__logo-image--centered {
                    display: inline;
                    img {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        object-fit: contain;
                    }
                }
                .site-header {
                    background-color: var(--color-transperant);
                    .site-header__mobile-nav {
                        margin-bottom: 24px;
                        background-color: var(--color-transperant);
                    }
                    .site-header__icons-wrapper {
                        a {
                            color: var(--color-home-menu-text);
                            svg {
                                background-color: var(--color-home-menu-text);
                                fill: var(--color-text);
                            }
                        }
                    }
                }
                .site-nav {
                    z-index: 99;
                    .site-nav__link {
                        color: var(--color-home-menu-text);
                        &:focus,
                        &:not([disabled]):hover {
                            &:after {
                                width: calc(100% - 20px);
                                background: var(--color-home-menu-text);
                            }
                        }
                    }
                }
            }
        }
        
        .site-nav {
            margin: 0;
            a {
                padding: 3px 20px;
            }
        }
        
        .hero__inner {
            vertical-align: bottom;
            .shipping__text {
                position: absolute;
                bottom: 52px;
                right: 60px;
                padding: 5px;
                animation: shake 0.5s;
                animation-iteration-count: infinite;
            }
        }
        
        @keyframes shake {
            0% {
                transform: translate(1px, 1px) rotate(0deg);
            }
            10% {
                transform: translate(-1px, -2px) rotate(-1deg);
            }
            20% {
                transform: translate(-3px, 0px) rotate(1deg);
            }
            30% {
                transform: translate(3px, 2px) rotate(0deg);
            }
            40% {
                transform: translate(1px, -1px) rotate(1deg);
            }
            50% {
                transform: translate(-1px, 2px) rotate(-1deg);
            }
            60% {
                transform: translate(-3px, 1px) rotate(0deg);
            }
            70% {
                transform: translate(3px, 1px) rotate(-1deg);
            }
            80% {
                transform: translate(-1px, -1px) rotate(1deg);
            }
            90% {
                transform: translate(1px, 2px) rotate(0deg);
            }
            100% {
                transform: translate(1px, -2px) rotate(-1deg);
            }
        }
        
        .site-header__cart-count {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: inline-block;
            margin-left: 22px;
            background-color: var(--color-home-menu-text);
            color: var(--color-text);
            height: 35px;
            width: 35px;
            span {
                font-size: 14px;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
        .hero__btn {
            .svg__btn {
                background: var(--color-home-menu-text);
                width: 18px;
                height: 18px;
                border-radius: 100%;
                display: inline-block;
                margin-left: 9px;
                svg {
                    width: 6px;
                    height: 6px;
                }
            }
            .text-btn__wrpper {
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    line-height: 1;
                }
            }
        }
        
        .collection-title-wrapper {
            border: 1px solid transparent;
        }
        
        .collection-title-wrapper.active {
            border: 1px solid #000000;
        }
        
        .products-slider {
            display: none;
        }
        
        .products-slider.active {
            display: block;
        }
        
        .products-slider {
            .flickity-prev-next-button {
                svg {
                    display: none;
                }
            }
            .flickity-prev-next-button {
                width: 151px !important;
                height: 147px !important;
                background: transparent !important;
                &:after {
                    content: '';
                    position: absolute;
                    width: 151px;
                    height: 147px;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
            }
            .flickity-prev-next-button.next {
                right: 56px !important;
                &:after {
                    content: '';
                    background-image: url(https://cdn.shopify.com/s/files/1/0262/4569/3524/files/Vector.svg?v=1604866645);
                    right: 0;
                    transform: translateY(-50%);
                }
            }
            .flickity-prev-next-button.previous {
                left: 56px !important;
                &:after {
                    background-image: url(https://cdn.shopify.com/s/files/1/0262/4569/3524/files/Vector.svg?v=1604866645);
                    left: 0;
                    transform: translateY(-50%) rotate(180deg);
                    background-repeat: no-repeat;
                }
            }
            .grid__item {
                padding-left: 60px;
            }
            .medium-up--one-third {
                width: 28.6%;
            }
            .flickity-button {
                display: none;
            }
        }
        
        .desktop--show-nav {
            @media only screen and (min-width: 749px) {
                .flickity-button {
                    display: block;
                }
            }
        }
        
        .mobile--show-nav {
            @media only screen and (max-width: 749px) {
                .flickity-button {
                    display: block;
                }
            }
        }